# dependencies
node_modules/

# next.js build
.next/
out/

# misc
.DS_Store
*.pem
.env
.env*.local

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo

# Firebase service account key
serviceAccountKey.json
